* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
}

h1 {
    text-align: center;
}
 
.column { 
    display: flex ; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.figure-image { 
    display: flex ; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
.navbar {
    text-align: center;
    display: flex ; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.hero {
    text-align: center;
    display: flex ; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.button-section {
    text-align-last: center;
}

img { 
    min-width: 70% ; 
    max-width: 70%;
    display: flex ; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

@media (max-width: 1200px) {
    .images {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .images {
        column-count: 1;
    }
}
